@font-face
{
  font-family: Cooper;
  src: url(cooper.ttf);
}

#footer{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 15px;
  color: #1e3a1c;
  font-family: Helvetica;
  font-size: 16px;
}

#elementsName{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10%;
  color: #1e3a1c;
  font-family: Helvetica;
  font-size: 22px;
}

#input-group {
  float: left;
  margin-left: 17px;
}

#input-collapse {
	border: 1px solid #DDFFE2;
  color: #eeeeee;
	background: linear-gradient(0deg, #5cbe73 1%, #182b04 100%);
}

input[type="text"] {

	margin-bottom: 4px;
	width: 169px;
	height: 25px;
	font-size: 15px;
	color: #c7c7c7;
	border: 1px solid #c7c7c7;
	background: #000;
	padding: 0 6px
}

.container {
	margin-top: 7px;
	margin-left: 7px;
}

.collapsible {
  width: 190px;
  overflow: hidden;
  transition: height 0.5s;
    -moz-transition: height 0.5s; /* Firefox 4 */
    -webkit-transition: height 0.5s; /* Safari and Chrome */
    -o-transition: height 0.5s; /* Opera */
}

.breakingbadbutton {
  -moz-box-shadow:inset 0px 1px 0px 0px #4c614c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #4c614c;
  box-shadow:inset 0px 1px 0px 0px #4c614c;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #001a03), color-stop(1, #00520c) );
  background:-moz-linear-gradient( center top, #001a03 5%, #00520c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#001a03', endColorstr='#00520c');
  background-color:#001a03;
  -webkit-border-top-left-radius:14px;
  -moz-border-radius-topleft:14px;
  border-top-left-radius:14px;
  -webkit-border-top-right-radius:14px;
  -moz-border-radius-topright:14px;
  border-top-right-radius:14px;
  -webkit-border-bottom-right-radius:14px;
  -moz-border-radius-bottomright:14px;
  border-bottom-right-radius:14px;
  -webkit-border-bottom-left-radius:14px;
  -moz-border-radius-bottomleft:14px;
  border-bottom-left-radius:14px;
  text-indent:0;
  border:1px solid #55785d;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  font-style:normal;
  height:51px;
  line-height:51px;
  width:169px;
  text-decoration:none;
  text-align:center;
}
.breakingbadbutton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00520c), color-stop(1, #001a03) );
  background:-moz-linear-gradient( center top, #00520c 5%, #001a03 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00520c', endColorstr='#001a03');
  background-color:#00520c;
}.breakingbadbutton:active {
  position:relative;
  top:1px;
}

/**
 *
 * Absolute position in the center of the parent element (top, left). 
 *
 */

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
}
.wrapper2 {
  position: absolute;
  left: 50%;
}

/**
 *
 * Absolute position in the center of the parent element (-50%, -50%). 
 *
 */
.wrapper {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#smoke {
  position: absolute;
  z-index: -1;
  left: 22%;
  top: 0;
}


/**
 *
 * Absolute position at $top and $left. 
 * You can also add value for the $content property. 
 *
 */
/**
 *
 * Include a breakpoint for different screen sizses:
 *
 * small : smart phones & smaller devices
 * medium :  tablets, netbooks
 * large : HD, large screens, beamer
 *
 */
/**
 *
 * Linear gradient with old and new syntax. 
 * bg(to bottom, top, #f00, #00f)
 *
 */
/**
 *
 * Animation 
 *
 */
/**
 *
 * Keyframes
 *
 */
/**
 *
 * Placeholder
 *
 */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: #090f05;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
}

/**
 *
 * Absolute position in the center of the parent element (-50%, -50%). 
 *
 */
.wrapper {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*
#breakingbad {
  position: relative;
  width: 100%;
  border: 0.5em solid rgba(255, 255, 255, 0.1);
  padding: 1em;
  overflow: hidden;
}
#breakingbad:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1337;
  background: #15220c;
}
*/
span {
  color: #fff;
}

.chemical-element {
  width: 165px;
  height: 165px;
  position: relative;
  font: bold 95px Helvetica;
  color: #fafffb;
  padding: 25px 25px 25px 30px;
  border: 3px solid #DDFFE2;
  display: inline-block;
  background: linear-gradient(-45deg, #5cbe73 1%, #182b04 100%);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  text-align:center; 
}

.chemical-element-out {
  width: 1280px;
  font-size: 95px;
  font-family: Cooper;
  color: #fafffb;
  margin-top:0px;
}

.chemical-element:nth-child(4) {
  margin-left: 165px;
  padding-left: 23px;
}

.desc {
  position: absolute;
  font: bold 13px Arial;
  color: rgba(244, 247, 245, 0.95);
}

.big {
  font: bold 20px Arial;
}

.medium {
  font: bold 17px Arial;
}

div[role="top-left"] {
  top: 8px;
  left: 10px;
}

div[role="top-right"] {
  top: 8px;
  right: 5px;
  text-align: right;
  width: 25px;
}

div[role="bottom-left-1"] {
  bottom: 20px;
  left: 5px;
  text-align: left;
}

div[role="bottom-left-2"] {
  bottom: 5px;
  left: 5px;
  text-align: left;
}

.title-1,
.title-2 {
  width: 50px;
  display: inline-block;
  height: 130px;
  /*vertical-align: bottom; */
}

.title-2 {
  height: 134px;
}




audio {
  display: none;
}

#player {
  position: fixed;
  top: 10%;
  right: 10%;
  transition: all .3s ease-in;
  opacity: .1;
  cursor: pointer;
}

#player:hover {
  opacity: 1;
}

#player svg[role="paused"] {
  display: none;
}